---
export interface Props {
  title: string;
  description: string;
  img: string;
  time: string;
  place: string;
  nrOfTickets: string;
  datum: string;
  link?: string;
  callToAction?: string;
  active: boolean;
  ticketInfo?:string;
}
const { callToAction, title, description, time, place, nrOfTickets, img, link, datum, active, ticketInfo } =
  Astro.props;
---

<div
  id="event-card" class="flex flex-row gap-2 rounded shadow-lg border relative md:w-1/2"
>
  <style>
    #event-title{
      font-size: 18px;
    }
    #info{
      font-size: 18px
    }
    #info span{
      color: #fa6607
    }
    #half {
      display: flex;
      flex: 1;
    }
  </style>
  <div id="half" class="rounded-right">
    <img class="object-cover" style="border-radius: 4px 0px 0px 4px;" src={img} alt="" />
      <div
        class="absolute cursor-default font-bold cursor default top-6 left-6 text-white bg-[#fa6607] p-5 rounded-full aspect-square text-xs flex items-center justify-center"
      >
        <p id="date" style="font-size: 16px">{datum}</p>
      </div>
  </div>

  <div id="half" class="md:before:w-1/2 flex flex-col text-center py-2 px-4">
    <h3 id="event-title" class="font-medium text-lg cursor-default md:text-center pb-0">{title}</h3>
    <div id="event-content" class="flex flex-col flex-grow justify-between">

      <p id="event-description" class="md:text-center m-4">{description}</p>

      <div class="flex flex-row flow-grow justify-left md:text-left">
        <div id="line" class ="bg-[#a7a7a7] w-0.5 rounded mx-3"></div>
        <div id="info" class="flex flex-col justify-between">
          <p id="time" class="flex flex-row align-items-center my-1 ">
            <span class="material-symbols-outlined mr-1"> schedule </span>
            {time}
          </p>
          <p id="place" class="flex flex-row align-items-center my-1"> 
            <span class="material-symbols-outlined mr-1"> location_on </span>
            {place}
          </p>
          <p id="tickets" class="flex flex-row align-items-center my-1">
            <span class="material-symbols-outlined mr-1"> local_activity </span>
            {nrOfTickets + " st"}
          </p>
        </div>
      </div>
      {
        active && (
          <a href={link} target="_blank">
            <button type="button" class="bg-[#fa6607] rounded cursor-pointer font-bold text-center text-white p-2 my-5 md:w-2/3">
              {callToAction ? callToAction : "Anmäl dig nu!"}
            </button>
        </a>
        )
      }
      {
        !active && (
          <div class="mt-7 mb-2">
            <button type="button" disabled class="bg-[#FDD1B4] rounded font-bold text-center text-white p-2 md:w-1/2">
              {callToAction ? callToAction : "Anmäl dig nu!"}
            </button>
            <p class="text-[#fa6607]">{ticketInfo}</p>
          </div>
        )
      }
    
    </div>
  </div>
</div>
